<div class="container" id="team">
    <div class="row">
        <div class="col-md-8">
            <div class="bg-gris p-4">
                <div class="row">
                    <div class="col-4">
                        <input
                            [(ngModel)]="nomEquipe"
                            aria-label="Equipe"
                            class="form-control"
                            placeholder="Equipe"
                        />
                    </div>
                    <div class="col-1">
                        <button class="btn btn-success" (click)="onAjouterEquipe()">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div>
                <table
                    *ngFor="let equipe of equipes; let i=index"
                    class="table table-striped mt-4"
                >
                    <tbody>
                        <tr>
                            <td colspan="3">
                                <div class="row">
                                    <div class="col-1">
                                    <button
                                        class="btn btn-danger"
                                        (click)="onEnleverEquipe(i)"
                                    >
                                        <i class="fa fa-trash "></i>
                                    </button>
                                    </div>
                                    <div class="col-9">
                                        <h3>{{equipe.nom}}</h3>
                                    </div>
                                    <div class="col-2">                   
                                    </div>
                                </div>
                            </td>
                        </tr>

                        <tr *ngIf="equipe.personnes.length >0">
                            <th>Prénom</th>
                            <th>Nom</th>
                            <th>Action</th>
                        </tr>

                        <tr *ngFor="let personne of equipe.personnes; let j=index">
                            <td>{{personne.prenom}}</td>
                            <td>{{personne.nom}}</td>
                            <td>
                            <button
                                (click)="onEnleverPersonneEquipe(i,j)"
                                class="btn btn-danger"
                            >
                                <i class="fa fa-trash"></i>
                            </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-4">
            <app-personne-component [personnes]="personnes" [equipes]="equipes"></app-personne-component>
        </div>
    <!-- row -->
    </div>
</div>
